<header class="site-header-wrapper">
	<div class="site-header">
			<div class="logo">
					<a class="site-title" href="{{ site.baseurl }}/"> SUIBUKAN </a>
				</div>
			<nav class="menu">
			<ul>			
				<li>	<a href="{{ site.baseurl }}/martialarts/martialart/suikendo-gr/" class="menu-icon" >Suikendo</a></li>
				<li>	<a href="{{ site.baseurl }}/martialarts/martialart/kobudo-gr/" class="menu-icon" >Kobudo</a></li>
				<li>	<a href="{{ site.baseurl }}/martialarts/martialart/karate-gr/" class="menu-icon" >Karate</a></li>
				<li>	<a href="martialarts" class="menu-icon" >Οργανισμος</a></li>
				<li>	<a href="{{ site.baseurl }}/articles" class="menu-icon" >Αρθρα</a></li>
				<li>	<a href="martialarts" class="menu-icon" >Νεα</a></li>
				</ul>
				</nav>
		</div>
</header>
