<header class="site-header-wrapper">
	<div class="site-header">
			<div class="logo">
					<a class="site-title" href="{{ site.baseurl }}/"> SUIBUKAN </a>
				</div>
			<nav class="menu">
			    <ul>	
                    {% for menu in site.data.menu %} 
                        <li>                                       
                            <a href="{{ menu.href }}"> {{ menu.title }} </a>
                        </li>
                    {% endfor %}
				    </ul>
				</nav>
		</div>     
</header>
