<header class="site-header-wrapper">
	<div class="site-header">
			<div class="logo">
					<a class="site-title" href="{{ site.baseurl }}/"> <img src="https://c1.staticflickr.com/3/2921/14771259186_a39ee436de.jpg"></a>
				</div>
			<nav class="menu">				
				<li>	<a href="martialarts" class="menu-icon" >Suikendo</a></li>
				<li>	<a href="martialarts" class="menu-icon" >Kobudo</a></li>
				<li>	<a href="martialarts" class="menu-icon" >Karate</a></li>
				<li>	<a href="martialarts" class="menu-icon" >Οργανισμός</a></li>
				<li>	<a href="martialarts" class="menu-icon" >Άρθρα</a></li>
				<li>	<a href="martialarts" class="menu-icon" >Νέα</a></li>
				</nav>
		</div>
</header>
