 {% if site.[page.kata] != null %}
                       <div class="kata sidebar-block">
                        <h3>Kata</h3>
                         <ul>
                          {% for post in site.[page.kata] %}
                                  <li class="sidebar-list"><a href="{{ post.url }}">{{ post.title }}</a></li> 
                           {% endfor %}
                               </ul>                     
                       </div>  
                   {% endif %}
                   
                   {% if site.[page.masters] != null %}
                       <div class="masters sidebar-block">
                        <h3>Masters</h3>
                           <ul>
                          {% for post in site.[page.masters] %}
                                  <li class="sidebar-list"><a href="{{ post.url }}">{{ post.title }}</a></li> 
                           {% endfor %}
                               </ul>
                         </div>  
                   {% endif %}
                   
                   {% if site.[page.weapons] != null %}
                       <div class="weapons sidebar-block">
                        <h3>Όπλα</h3>
                           <ul>
                          {% for post in site.[page.weapons] %}
                                  <li class="sidebar-list"><a href="{{ post.url }}">{{ post.title }}</a></li> 
                           {% endfor %}
                               </ul>
                         </div>  
                   {% endif %}