/*
    Document   : _sass/front．scss
    Created on : 2014-08-13 09:17 AM
    Author     : dimdervas
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}