@import "susy";
@mixin sticky-footer($footer-height, $wrapper-selector: ("#wrapper"), $container-selector: ("#container"), $footer-selector: ("#footer")) {
  html, body {
    height: 100%;
  }
  body {
  	margin: 0px;
  	padding: 0px;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -$footer-height;
    #{$container-selector} {
      padding: 0 0 $footer-height 0;
    } 
  }
  #{$footer-selector} {
    height: $footer-height; 
  }
}
.page {
	@include container;
}

.slideshow-block{
	@include container;
}

.martialarts {

}

.list-articles .list-item {
     @include gallery(3 of 12);
}

.videos {
	
}

#map,
#map-canvas {
    @include full;
    height: 500px;
}

.content {
	@include span(8 of $small)
}
.sidebar {
	@include span(4 of $small)
}
.site-footer{
    @include sticky-footer(30px, '.page', '.container', '.site-footer');
}
.news-block {
    @include full;
        .news-left {
        @include span(6 of 12)
    }
        .news-right {
        @include span(5 of 12)
    }

}
