<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

        {% include header.html %}

    <div class="page">
		   <div class="content">
			    
			    <img src="{{page.image}}" alt="">
			   
			    <div class="content-inner">
			     <h1>{{page.title}}</h1>
			    {{content}}
			    </div>			   	
		   	</div>

		   <div class="sidebar">
		   <div class="sidebar-content">
		   			   {{ page.tags }}

			{% if tagging == 'karate' %}

  					{% for image in site.data.karate %}
					       <ul> 
						       <li>
						          <img src="{{ image.path }}">
						        </li>
					        </ul>
						{% endfor %}

			{% endif %}

		   </div>

	  		</div>
    </div>

    {% include footer.html %}

    </body>
</html>