<!DOCTYPE html>
<html>

  {% include head-post.html %}

    <body>
        
    <div class="page">
        <div class="container">
            {% include header-post-include.html %}
            
          {% for post in site.categories.['articles'] %}
             <div class="content">
                 <img src="https://i.embed.ly/1/display/crop?key=f2a5d1ca3f744334a53723f0baf9c13a&url={{post.image}}&width=772&height=350" alt="{{post.title}}">

			   
			    <div class="content-inner">
			     <h1><a href="{{post.url}}"> {{ post.title}}</a> </h1>
			    {% if post.content contains '<!--more-->' %}
                    {{ post.content | split:'<!--more-->' | first }}
                    
                    <button class="continue-reading">
                        <a href="{{ post.url }}">Συνέχισε</a>
                    </button>
                    
                {% else %}
                    {{ post.content }}
                {% endif %}
			    </div>			   	
		   	</div>
           {% endfor %}
            
		   <div class="sidebar">
               <div class="sidebar-content">
               </div>
	  		</div>
            
        </div>
    </div>

        {% include footer-post-include.html %}
        {% include bottom-post.html %}

    </body>
</html>