<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>
    <div class="page">
        <div class="container">
    {% include header.html %}

    {% include slideshow.html %}

    {% include martialarts-include.html %}
    
    {% include articles-include.html %}

    {% include videos.html %}
            
    <!-- Google map    
    <div id="map"></div>
    -->
    <!-- Leaflet Map added to below footer-->
    <div id="map-canvas"></div>
            
    {% include news.html %}
</div>
        </div>

    {% include footer.html %}
        
    </body>
</html>